<style>
.masonry {
    display: flex;
    flex-flow: row wrap;
    margin: 2rem 0;    
}

.brick {
   	flex: 1 0 auto;
    margin-right: 2rem; 
    margin-bottom: 2rem;
}

.brick .btn {
    font-size: 1.2em;
    min-width: 0;
    height: 100%;
    width: 100%;
    margin: auto 0;
    display: flex;
    position: relative;
    overflow: hidden; 
}

.brick .btn:after {
	font-family: FontAwesome;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
    color: rgba(0, 0, 0, 0.3);
    font-size: 5em;
    line-height: 7em;
    text-align: center;
}

.toolbar {
	min-height: 200px;
}

.toolbar-item {
   min-width: 200px;
   max-width: 200px;
   min-height: 200px;
   max-height: 200px;
}

.toolbar-item .btn {
	font-size: 1em;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;   
/*	color: #337ab7;
	background: #333;
	background: linear-gradient(to bottom, #333 50%, #4c4c4c);*/
}

/*.toolbar-item .btn:hover {
   color: #337ab7;
   background: #4c4c4c;
}
*/
.toolbar-item .btn:after {
    font-size: 5em;
    line-height: 8em;
}

.toolbar-item .btn .title {
	flex: 1 0 auto;
	text-align: left;
/*	align-self: flex-start;*/
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 700;	
    font-size: 1.3em;
    min-width: 0;
}

.toolbar-item .btn .fa {
	align-self: flex-end;
/*	color: #000;*/
    font-size: 5em;
}

/*.toolbar-item.tool .btn {
	background: #f5f5f5;
	color: #7b7b7b;
}
.toolbar-item.tool .btn:hover {
	color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
} */
.toolbar-item.tool .btn .fa {
	align-self: center; 
	font-size: 12em; 
	color: inherit;
	opacity: 0.5;
	line-height: 184px;
}
</style>

<div class="masonry toolbar">

	<div class="brick toolbar-item tool">
        <div class="btn btn-default" ng-click="masterVm.createItem()">
        	<i class="fa fa-plus"></i>
        </div>
    </div>    
    
	<div class="brick toolbar-item" ng-repeat="item in masterVm.list">
        <a class="btn btn-default" href="{{item.url}}" target="_blank">
            <span class="title" ng-bind="item.application_name"></span>
            <i class="fa fa-code"></i>
        </a>
    </div>    
</div>
